#header{
    width: 100%;
    margin: auto;
    display: block;
    list-style-type: none;
    background-color: beige;
    color: black;
}
#header ul{
    list-style-type: none;
    text-decoration: none;
    overflow: hidden;
    color: black;
}
#header ul li{
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    float: left;
    font-size: 35px;
    color: black;
    font-family: sans-serif;
}
#header li::after{
    color: aqua;
}
